@model WebUI.Models.StoreVM

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<p>@Html.DisplayFor(model=>model.Address)</p>

<p>
    <a asp-action="Create" asp-route-storeId="@Model.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventories)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fas fa-edit" }) |

                    @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>
