@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "Inventories";
}

<h1>Products available at this Store</h1>

<p>
    Do you see the item you are looking for?
    <button class="btn-secondary"> @Html.ActionLink("StartOrder", "StartOrder")</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                Available
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
           
        </tr>
}
    </tbody>
</table>
